extends ./error

block error-title
	| Page Not found

block error-body
		p We can't seem to find the page you are looking for.
		p You may have typed the address incorrectly or followed an outdated link.
