extends ../layouts/page-two-column

block title
	h1 POEA (Philippine Overseas Employment Administration) Accreditation

block crumbs
	ul
		li: a(href="/") Home
		li: a(href="/clients") Clients
		li: a(href="/clients/doing-business-with-us/") Doing Business With Us
		li POEA (Philippine Overseas Employment Administration) Accreditation

block contents
	h2 Accreditation Documents
	ol
		li Special Power of Attorney (SPA) (see attached template)
		li Job Order or Manpower Request Letter with complete details like specific visa category(ies), position and quantity/ies of manpower being requested with its the corresponding salary offered by the company per month (see attached template)
		li Standard Employment Contract or Model Contract that complies with POEA rules and regulations, e.g. provision of housing accommodation, food, residence permit (optional), overtime/holiday/rest day rate/payment, (as previously approved by POEA) etc; (see attached template)
		li Latest Business Registration or Commercial Registration Certificate( CRC) with English Translation
		li Contingency Plan (see attached template)
		li Passport of the Signatory
		li Visa Authority
		li Visa Receipt (with English translation)
		li E-wakala (attached sample for you reference)
		li Recruitment Agreement
	h3 Important:
	p.
		Please note that the Master Employment Contract  must be duly signed on each page,  notarized and authenticated at the Chamber of Commerce.  Also note that all documents mentioned above must be authenticated and verified at the Philippine Embassy nearest you.  Visa authority should be authenticated at the Ministry of Foreign Affairs.
	p Please find below proposed Agreement/Terms and Conditions for your review and signature:
	ul
		li One or two years contract of employment with the necessary service award after completion of contract, as stipulated in the Labor Law.
		li Free airline ticket from the point of origin to the point of destination, and vice versa after completion of the employment contract. Payment may be made in cash or PTA ticket for the worker.
		li Free board and lodging; transportation from the residence to workplace and vice versa
		li Free basic emergency/basic medical examination.
		li Payment of overtime if any.
		li A probationary period of 3 months are given to Placewell selected workers, and any repatriation that may occur within this period will be our responsibility for as long as the selection are made by us.  Should any problem arise during the term of the deployed worker, a formal discussion and/or agreement would have to take place between your company and ours, before any repatriation of any worker be done to avoid unnecessary cases filed at the labor office.
		li In cases of unavoidable financial difficulty, financial assistance is offered by the Principal to their worker with a corresponding promissory note from the Worker duly notarized by a notary public. 
	h3 Charges
	p Charges per worker would include the following:
	p Mobilization/Service fee may be broken down as follows:
	ul
		li Documentation Fees
		li Pre-Departure orientation seminar
		li Airport Assistance
		li Provincial Recruitment
		li Legal and other contingent fees
		li Sub agent fees
	p For Financial Assistance to the worker.  We suggest that the company advance the Placement fee of the selected worker and deduct it from their salary in (3) equal Payments with corresponding promissory note.
	h3 Other Services Provided:
	p For personal interview by the company representative, we provide free transportation with our company driver, and complimentary lunch/dinner.
	p Further, we remain open to any adjustments/suggestions that you may have especially with regard to the standard terms & conditions.
	p With regard to your requirements, we would like to note your complete manpower requirements, qualifications and other terms and conditions.
	p For any other queries/information, please do not hesitate to contact us and we would be glad to be of service and assistance to you.


block sidebar
	include sidebar/download-profile
