extends ../layouts/page-two-column

block title
	h1 Doing Business With Us

block crumbs
	ul
		li: a(href="/") Home
		li: a(href="/clients") Clients
		li Doing Business With Us

block contents

	img(src="/images/Optimized-Meeting shutterstock_131585624.jpg")
	p.
		Foreign employers who wish to do business with or engage the services of Placewell International Services Corporation need to comply with the laws of the Philippines and follow the standard rules and regulations of the Philippine Overseas Employment Administration, particularly the following:
	ol
		li 
			h4 Execution of a Special Power of Attorney
			p A foreign employer needs to authorize PISCO to recruit and deploy workers for and on its behalf. The authorization covers the signing, cancellation, renewal, and execution of all pertinent workers’ papers and documents, as well as legal representation for the foreign employer in all Philippine government offices and agencies. 
		li 
			h4 Registration of foreign principal
			p
				A foreign principal needs to register with the Philippine Overseas Labor Office (POLO) of the Department of Labor and Employment in the country where the employer operates or where the worker is to be assigned. PISCO assists its foreign principal in this process. Prior to registration, the foreign principal must complete the following documents:
			ol(style="list-style-type:lower-alpha;")
				li Special Power of Attorney (See No. 1 above)
				li Master Employment Contract (POEA Standard Contract)
				li Manpower Request or Job Order
				li Foreign employer’s business license, registration certificate, or equivalent document
		li
			h4 Issuance of manpower request or job order
			p.
				The foreign principal issues the manpower request or job order, which is verified by the POLO. Verification involves the act of establishing the existence of the employing person, project, or company and its capability to hire foreign workers at acceptable rates and at desirable conditions, in conformity with the minimum standards prescribed by the Philippine government and taking into account the labor laws of the host country.
	hr
	p.
		All documents involved in Steps 1-3 must be stamped by the local chamber of commerce in the country of the foreign employer and authenticated by the Philippine Embassy. After these procedures, PISCO sets the wheel in motion for the recruitment and hiring of the needed workers.
	p.
		For the complete Accreditation Documents and Procedures for Middle East Countries please #[a(href="/clients/doing-business-with-us/accreditation-documents") click here].

block sidebar
	include sidebar/download-profile
