extends ../layouts/page-two-column

block title
	h1 Message from the Vice President for Operations

block crumbs
	ul
		li: a(href="/") Home
		li About Us
		li Message from the Vice President for Operations

block contents
	p.
		Welcome to our home in the Internet!

	p.
		On this site, you will find your dream job if you aspire to work abroad. If you are an employer, you will know how Placewell International Services Corporation (PISCO) has evolved to become a full-service Filipino human resource Company committed to meeting the needs of global employers for world-class Filipino workers.
	p.
		At PISCO, we recruit and maintain a pool of applicants who are jobs-fit, work-ready, and highly flexible. We have established a solid track record of deploying workers who are competent, professional, and highly-skilled.
	p.
		We strictly adhere to our corporate philosophy consisting of three major pillars:
	p.
		First, we are a Company that builds lasting relationships. We care for people because they are (1) individuals with human rights and dignity that needs to be respected and protected; (2) employers who generate economic value; and (3) workers who need to be treated and rewarded fairly.
	p.
		Second, at PISCO, clients count first. We exist for our clients and, thus, work to provide them on time, job-ready, and competent workers by observing only ethical and modern recruitment practices and strategies that conform to international standards. We are an ISO-certified Company.
	p.
		Third, we take our corporate social responsibility seriously. We share the rewards of business with the communities where we operate.
	p.
		At PISCO, we aim for and value excellence. This has led us to earn unparalleled expertise in overseas recruitment and drives us daily to aspire for our brand to become timeless and unbound.
	p 
	p 
	p Sincerely,
	p Eleonor H. Escueta<br><i>Vice President for Operations</i>

block sidebar
	img(src="/images/vpo.jpg")
