extends ../layouts/page-two-column

block title
	h1 Message from the CEO and President

block crumbs
	ul
		li: a(href="/") Home
		li About Us
		li Message from the CEO and President

block contents
	p.
		Hello all!

	p.
	
		As we pass on the management of Placewell International Services Corporation (PISCO) to our daughter, Elo, to contemplate our journey and enjoy the fruits of our labor, we sincerely thank our employers who continue to be with us after almost 40 years of doing business in overseas employment. We also express the same gratitude to the tens of thousands of OFWs and their families whose integrity, capability, and admirable work ethic contributed immensely to our growth and strength.
	
	p.
	
		PISCO has become a leading player in overseas employment because of you. Your trust and goodwill truly inspired us to do what we do best: act promptly and efficiently on your demand and be responsive and flexible in dealing with your requirements as customers.

	p.
	
		As Vice President for Operations, Elo is taking over PISCO’s day-to-day business. She herself helped the Company become a global brand known for service reliability. She is grounded in our philosophy of excellent service. She understands competition in the global labor market. She cares and works for the concern and welfare of our OFWs. Thus, she is committed to lead to the 21st century a Company more reliable, more flexible, and more focused on quality.

	p.
		We, therefore, brim with hope and confidence that you–our employers and workers–will continue to repose in us your faith and confidence that have driven us to excellence, sharpened our expertise, and made PISCO timeless.

	p 
	p Sincerely yours,
	p 
	p Filemon Puno Escueta<br><i>CEO</i>
	p 
	p Aida Hofilena Escueta<br><i>President</i>


block sidebar
	img(src="/images/ceo.jpg")
