extends ../layouts/page-two-column

block title
	h1 What We Do

block crumbs
	ul
		li: a(href="/") Home
		li About Us
		li What We Do

block contents
	h3 Recruitment 
	p.
		Placewell International Services Corporation is a one-stop shop for foreign employers to avail of the following services: 

	p.
		<b>Personnel Search.</b> A deep and extensive manpower pool of ‘work-ready’ candidates enables the Company to mobilize workers on short notice. For external search, it mobilizes a network of individuals and institutions, including partnership with the Public Employment Service Offices.

	p.
		<b>Screening and Assessment.</b> The Company has established rigorous screening and assessment procedures at par with international standards. It engages professionals and experts for psycho-social, behavioral, knowledge, and skills testing. 

	p.
		<b>Client Interview.</b> It arranges face-to-face and virtual interviews by employers and principals of short-listed workers. The Company has adequate facilities for online tele-conferencing.

	p.
		<b>Pre-qualification Testing and Training.</b> The Company has modern facilities for applicant testing and training. If a technical or trade test is needed, it facilitates the conduct of such through its network of public and private technical or trade test institutions—public or private.

	h3 Pre-departure Orientation 
	p.
		An accredited provider since 1988, PISCO has its own facility for the Pre-Departure Orientation Seminar (PDOS), a government-mandated, one-day session where a selected candidate is immersed in a comprehensive overview of the country of work—its culture, language, banking and business practices—and other relevant information the worker needs to know. 
	
	h3 Deployment 
	p.
		The Company assists the worker in the A to Z of deployment, including passport, visa, medical examination, and other official documentation. If authorized by the employer, it provides liaison services for official transactions with airlines, embassies, and labor offices, as well as assistance on translation, authentication of documents, and airport meet-and-greet.
	
	h3 Post Deployment Services 
	p.
		Maintaining regular contact with a deployed worker and his family left behind is part of the Company’s strategy of ensuring smooth post-deployment transition, to ensure that the worker goes along well in his workplace and that his family feels assured and secured.

block sidebar
	include sidebar/download-profile
