extends ../layouts/page-two-column

block title
	h1 A Brief History

block crumbs
	ul
		li: a(href="/") Home
		li About Us
		li A Brief History

block contents
	img(src="/images/Optimized-shutterstock_169426445.jpg")
	p Placewell International Services Corporation, or PISCO, is a pioneer in the Philippine overseas employment sector. Established in 1978 by husband-and-wife team Filemon P. Escueta and Aida Hofilena Escueta, Chief Operating Officer and President, respectively, PISCO has established close to 40 years of productive experience in recruiting and deploying tens of thousands of Filipino workers to the Middle East and North Africa—Saudi Arabia, Qatar, Bahrain, Kuwait, Oman, United Arab Emirates, Libya, and Egypt; Asia—Hong Kong, Taiwan, and Singapore; Australia; Carribean Islands; USA; and UK.

	p Over the years, the Company has earned eminent reputation as a human resource provider fast to respond, reliable, and efficient—values that define its track record of commitment to total customer satisfaction and which are now ingrained in its corporate culture.

	p Adaptive and flexible, PISCO has embarked on innovation to plug itself into the hub of the fast-changing global landscape of recruitment to remain competitive.

	p In the Philippines’s first automated election in 2010, it successfully mobilized 84,000 highly-skilled computer professionals—one of 1,400 local and international manpower providers selected—to man the COMELEC’s automated vote counting machines.

	p Today, as the 21st century world of work unfolds, PISCO remains as faithful and true to its vision, mission, and philosophy forged by its founders. And while it has grown to become a leader in the Philippine overseas employment sector, it has not lost, but rather sharpened, its commitment to recruitment excellence.

	p Its principal office is in the central business district of Manila, and will soon expand to its own six-story headquarters in the central business district of Makati. Outside the national capital, it maintains offices in the cities of Davao, Cagayan de Oro, General Santos, Tacurong, Cotabato, Butuan, and Koronadal in Mindanao; Cebu, Iloilo, and Bacolod in the Visayas; and in the provinces of Nueva Ecija, Isabela, Pampanga, and Laguna in Luzon. 

block sidebar
	include sidebar/download-profile
