extends ./default

block intro
  header.page-title
    block title
  nav.page-bread-crumbs
    block crumbs

block main
  section.page-contents
      block contents-container
        section.page-contents-main
          block contents
