.message
	h3 Message From CEO and President
	p.
		Our company has become a major player in overseas employment because of you. 
		Your goodwill and confidence have truly inspired us to do what we do best.
	a(href="/") View Full Message

.message
	h3 Message from Vice-President of Operations
	p.
		All that we believe in, all our values and all our effort goes toward making Placewell 
		your one stop company for your manpower and placement requirements.
	a(href="/") View Full Message
