.charts-container.closed
	.charts
		#worker-breakdown-chart-container.chart-container.ct-chart.ct-octave
		div
			.chart-heading
				span.number 180,000 
				span.label Workers/Employees
			#worker-total-chart-container.chart-container.ct-chart.ct-octave
append block js
	script(src="/js/page/home/charts.js",defer)
